html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  margin: 0px;
}

h1 {
  color: #f98560;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 48px;
  margin: 0px 0px 20px 0px;
}

h2 {
  color: #383e41;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
}

h3 {
  color: #383e41;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 20px;
}

h4 {
  color: #f98560;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

p {
  color: #383e41;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

li {
  color: #383e41;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 800px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 0px 40px 0px 40px;
}

.hero-section {
  height: 80vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-payhawk,
.link-trading212 {
  text-decoration: none;
}

a.link-payhawk, .link-trading212{
  color: #747980;
}

a.link-payhawk:visited {
  color: #747980;
}

a.link-payhawk:hover {
  color: #25e298;
}

a.link-trading212:visited {
  color: #747980;
}

a.link-trading212:hover {
  color: #00a7e1;
}

.list-item {
  background-color: #fbf7f1;
  background-image: linear-gradient(135deg, #fbf7f1 0%, #fcf5ec 74%);
  height: 50vw;
  max-height: 400px;
  margin-bottom: 60px;
  border-radius: 20px;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
}

.nav-items {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 40px;
  padding: 10px 20px 10px 20px;
  justify-content: space-between;
}

.footer-items {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 40px;
  padding: 10px 20px 10px 20px;
  justify-content: space-between;
}

.nav-links {
  text-decoration: none;
  margin-left: 32px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #383e41;
}

.social-links {
  text-decoration: none;
  margin-left: 32px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #383e41;
}

.footer-p {
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;
}

.nav-links:visited {
  color: #747980;
}

.nav-links:hover {
  color: #f98560;
}

.nav-logo {
  display: block;
  text-decoration: none;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #383e41;
}

a.nav-logo:visited {
  color: #383e41;
}

.work-description {
  margin-left: 40px;
  margin-top: 48px;
  max-width: 32%;
  display: inline-block;
}

.logo-works {
  display: block;
  max-height: 20px;
}

.logo-card {
  display: block;
  max-height: 16px;
}

.button {
  background-color: #f98560;
  padding: 12px 20px 12px 20px;
  height: 48px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
}

.button:hover {
  background-color: #fa784c;
}

.buttons-works {
  margin-top: 32px;
  display: block;
}

.button-secondary {
  background-color: transparent;
  padding: 12px 20px 12px 20px;
  height: 48px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  border-radius: 8px;
  color: #383e41;
  text-decoration: none;
}

.button-secondary:hover {
  color: #f98560;
}

.button-disabled {
  background-color: #f98560;
  padding: 12px 20px 12px 20px;
  height: 48px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.mockups {
  position: absolute;
  z-index: 1;
  height: 100%;
  max-width: none;
  margin-left: 34%;
}

.contacts {
  margin-top: 100px;
  height: 20vh;
  text-align: left;
}

.mailto-message {
  color: #747980;
}

.mailto-message:hover {
  color: #f98560;
}

.about {
  display: block;
  margin-bottom: 60px;
  margin-top: 40px;
}

.about-p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
}

.experience {
  display:block;
}

.experience-title {
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #747980;
  margin-bottom: 20px;
  margin-top: 60px;
}

.dates {
  font-weight: 600;
  color: #747980;
  text-transform: uppercase;
}

.note {
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 100px;
}

.profile-pic {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}

.intro {
  display: block;
  background-color: #fbf7f1;
  height: 250px;
  background-size: auto 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.intro-orange {
  display: block;
  background-color: #ff903b;
  height: 250px;
  background-size: auto 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.intro-blue {
  display: block;
  background-color: #00a7e1;
  height: 250px;
  background-size: auto 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

a.resume {
  color: #747980;
}

a.resume:hover {
  color: #fa784c;
}

.button-back {
  background-color: transparent;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #383e41;
  text-decoration: none;
  margin-bottom: 30px;
  display: block;
}

a.button-back {
  color: #747980;
}

a.button-back:hover {
  color: #fa784c;
}

.images {
  width: 100%;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.13);
}

.images-s {
  margin: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.13);
  max-height: 190px;
}

.figure {
  display: block;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.figure-small {
  margin: 0;
  margin-bottom: 40px;
}

.fig-caption {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #383e41;
  text-align: center;
}

.note-strong {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.p-strong {
  color: #383e41;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.img-row {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  column-gap: 30px;
  grid-template-rows: auto;
}

.case-study-section {
  margin-bottom: 40px;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.project-card {
  background-color: #fbf7f1;
  background-image: linear-gradient(135deg, #fbf7f1 0%, #fcf5ec 74%);
  padding: 30px 30px 40px 30px;
  border-radius: 16px;
}

.p-spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

.swiper-image {
  max-width: 100%;
}

.swiper-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.swiper-button-prev:after{
  color: #ffffff;
}

.swiper-button-next:after{
  color: #ffffff;
}



/* Responsive */

/* Mobile */

@media only screen and (max-width: 430px) {
  .container {
    padding: 0px 30px 0px 30px;
  }
  h1 {
    font-size: 32px;
    line-height: 38px;
  }

  h2 {
    font-size: 24px;
    line-height: 30px;
  }

  h3 {
    font-size: 20px;
    line-height: 30px;
  }

  h4 {
    font-size: 20px;
    line-height: 30px;
  }

  .p-strong{
    font-size: 16px;
  }

  .note-strong{
    font-size: 16px;
  }

  .cards {
    grid-template-columns: none;
    display: block;
  }

  .project-card {
    margin-bottom: 40px;
    border-radius: 8px;
  }

  .img-row {
    grid-template-columns: none;
  }
  .intro-blue, .intro-orange, .intro {
    height: 150px;
  }

  .footer-items {
    flex-direction: column;
    
  }

  .nav-logo {
    margin-bottom: 16px;
  }

  .footer-p {
    padding-left: 0;
    margin-bottom: 16px;
  }
  
  .socials {
    display: flex;
    justify-content: space-between;
  }

  .social-links{
    margin-left: 0;
  }

  .work-description {
    margin: 0;
    max-width: 100%;
  }

  .list-item{
    max-height: none;
    height: auto;
    padding-top: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mockups{
    position: relative;
    margin: 0;
    width: 100%;

  }

  .work-description{
    padding: 30px;
  }

  .buttons-works {
    margin-top: 24px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .project-card {
    margin-bottom: 30px;
  }

}


/* Tablet */

@media only screen and (min-width: 431px) and (max-width: 768px) {
  h1 {
    font-size: 42px;
    line-height: 50px;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
  }

  h4 {
    font-size: 24px;
    line-height: 30px;
  }

  .nav-items {
    align-items: center;

  }

  .nav-links {
    min-width: fit-content;
  }

  .list-item{
    max-height: none;
  }

  .mockups {
    margin-left: 40%;
  }
  .work-description {
    max-width: 260px;
  }

  .img-row {
    grid-template-columns: none;
  }

  .images-s {
    max-height: fit-content;
  }

  .contacts {
    height: 14vh;
  }

  .intro-blue, .intro-orange, .intro {
    height: 200px;
  }

  .footer-p {
    width: 35%;
  }

  .socials {
    display: flex;
  }
}